@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@500&family=Roboto&display=swap');
footer a {
    color: white; 
    font-style: italic;
}

header,
footer {
    background-color: rgba(75, 32, 4, 0.856);
    padding: .2em;
    border-radius: 5px;
    color: white;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-family: 'Piazzolla', serif;
    margin-left: 20px;
    border-bottom: 1px solid;
}

img {
    float: right;
    display: block;
    max-width: 250px;
    margin-right: 1em;
    margin-top: 1em;
    box-shadow: 1px 1px 6px 6px rgba(0, 0, 0, 0.5);
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

#last-edited {
    margin-top: 0px;
    margin-bottom: 8px;
    color:white;
}
#last-edited p {
    margin-top: 0em;
    margin-bottom: .4em;
}
ul {
    font-family: 'Piazzolla', serif;
}
