@charset "UTF-8";

footer a {
    color: white; 
    font-style: italic;
}

header,
footer {
    background-color: rgba(75, 32, 4, 0.856);
    padding: .2em;
    border-radius: 5px;
    color: white;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 20px;
    border-bottom: 1px solid;
}

img {
    float: right;
    display: block;
    max-width: 250px;
    margin-right: 1em;
    margin-top: 1em;
    box-shadow: 1px 1px 6px 6px rgba(0, 0, 0, 0.5);
}

p {
    margin-bottom: 0px;
    text-align: center;
    color: white;
}

#last-edited {
    margin-top: 0px;
    margin-bottom: 8px;
    color:white;
}
